body{
    background-color: #c8f4de;
}

.header {
    background-color: #20aaea;
    color: #fff;
    margin-bottom: 1rem;
    padding: 3rem 1rem;
    text-align: center;
}

.headerOp {
    background: rgba(32, 170, 234, 0.5);
    color: #fff;
    margin-bottom: .5rem;
    padding: 2rem 1rem;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 57px;
}

button, input[type="submit"] {
    background-color: #20aaea;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.325rem 0.65rem;
}

.picHome {
    padding: 40px 40px 20px;
}

.picExp {
    padding: 15px 60px 40px;
    gap: 40px;
}

.expTitle {
    padding: 30px 60px 0px;
}

@media (min-width: 768px) {
    .relayL {
        margin-left: 2rem;
    }
    .relayR {
        margin-right: 2rem;
    }
}

/*prev img*/
.imgHome {
    display: block;
    margin: auto;
    height: 500px;
}

.imgExp {
    height: 350px;
    max-width: 100%;
}

.intro {
    padding: 50px 20px 15px;
}

/* edu */

.relay {
    padding: 15px 0px 0px 0px;
}
